body {
    background-color: #FFFFFF;
    color: #1F1F1F;
    
    /* no highlighting */
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    margin-top: 15px;
    padding-left: 30px;
}

a {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}

a:link {
    color: #1F1F1F;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition-duration: color 0.2s;
}

a:visited {
    color: #1F1F1F;
}

a:hover {
    color: #CB83C7;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition-duration: 0.1s;
}


.name {
    font-size: 48px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    letter-spacing: -3px;
}

.body {
    font-size: 15px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.box {
    padding: 70px;
}

.links {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    line-height: 42px;
}